<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{ usuario.id }} - {{ usuario.name }}  - {{ usuario.email }}
    <form method="POST" action="{% url 'update' usuario.id %}">
        {% csrf_token %}
        <div>
            <br>
            <p>
                <h3> Editar Usuário: </h3>
            </p>
            <div>
                <p>Usuário Nome: </p> {{ usuario.name }}
            </div>
            <div>
                <p>Usuário Email: </p> {{ usuario.email }}
            </div>
            <div>
                <br>
                <button type="submit">SUBMIT</button>
        </form>
</body>
</html>