<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{ usuario.id }} - {{ usuario.name }}  - {{ usuario.email }}
    <form method="POST" action="{% url 'update' usuario.id %}">
        <div>
            <br>
            <p>
                <h3>Update Details</h3>
            </p>
        </div>
        <div>
            <p>Usuario:</p>
            <div>
                <input type="text" name="name" value="{{ usuario.name }}" />
            </div>
        </div>
        <div>
            <p>Email:</p>
            <div>
                <input type="email" name="email" value="{{ usuario.email }}" />
            </div>
        <div>
            <br>
            <button type="submit">Update</button>

    </form>
</body>
</html>